@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="long_hover">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <div class="dropdown1 long_dropdown">
           
                    <ul class="dropdown-menu1">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="drowdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.GetUserName()
                                <span class="caret"></span>
                            </a>
                        </li>
                        <li><a href="#"><hr />Danh Sách Sản Phẩm </a></li>
                        <li><a href="#">Danh Sách Lĩnh Bot</a></li>
                        <li><a href="#">Hỗ Trợ</a></li>
                        <li><a href="#">Nâng Cấp Tài Khoản</a></li>
                        <li>
                            <hr />
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </div>
            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<!--<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="drowdown" role="button" aria-haspopup="true" aria-expanded="false">
            @User.Identity.GetUserName()
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">1</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">1</a></li>
            <li role="separator" class="divider"></li>-->
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        <!--</ul>
    </li>
</ul>-->
<style>
    .long_hover {
        position: relative;
    }
    .long_hover:hover .long_dropdown{
        display:block;
    }
        .long_dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            padding: 6px 12px;
        }
    .dropdown-menu1{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .dropdown-menu1 li{
        margin: 10px 0;
        color: black;
    }
</style>
